<div class="container">
  <div class="col">
    <h1 class="centered">Registrar Cliente</h1>
  </div>
  <hr />

  <form class="form-group" (submit)="createRegister()">
    <div class="form-group col-md-3">
      <label for="higherInstitution">Institución Educativa:</label>
      <input type="text" id="higherInstitution" name="higherInstitution"
      class="form-control" [(ngModel)]="registerData.HigherInstitution"
        formControlName="higherInstitution"
      required>
    </div>
    <div class="form-group col-md-3">
      <label for="institutionAddress">Dirección de la Institución:</label>
      <input type="text" id="institutionAddress" name="institutionAddress" class="form-control" [(ngModel)]="registerData.InstitutionAddress"     formControlName="institutionAddress" required>
    </div>
    <div class="form-group col-md-2">
      <label for="numberStudents">Número de Estudiantes:</label>
      <input type="number" id="numberStudents" name="numberStudents" class="form-control" [(ngModel)]="registerData.NumberStudents"   formControlName="NumberStudents"  required>
    </div>
    <div class="form-group col-md-2">
      <label for="startTime">Fecha de Inicio:</label>
      <input type="date" id="startTime" name="startTime" class="form-control" [(ngModel)]="registerData.StartTime" required>
    </div>
    <div class="form-group col-md-2">
      <label for="serviceCapGown">Servicio de Toga y Birrete:</label>
      <input type="checkbox" id="serviceCapGown" name="serviceCapGown" class="form-check-input" [(ngModel)]="registerData.ServiceCapGown">
    </div>
    <div class="form-group col-md-12">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>

  <hr />
</div>
